<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <a href="{% url 'new_post' %}">Add New Post</a>
    <ul>
        {% for post in posts %}
            <li>
                <strong>{{post.title}}</strong>
                <form action="{% url 'delete_post' post.id %}" method = "post" style ="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>